:root {
  scroll-behavior: smooth;

  --orange-clr: #f48d69;
  --orange-light-clr: #ffb591;
  --orange-pastel-clr: #f8ddce;

  --blue-clr: #3e14d6;
  --blue-light-clr: #6259fa;
  --blue-pastel-clr: #cacefc;

  --green-clr: #5be080;
  --green-light-clr: #b9f8b9;
  --green-pastel-clr: #dffcdf;

  --grey-clr: #16162a;
  --grey-medium-clr: #3f3f50;
  --grey-light-clr: #a5a5ac;
  --grey-pastel-clr: #e3e3e5;

  --background-clr: rgba(22, 21, 43, 0.95);
}
