@font-face {
  font-family: "Shapiro Regular";
  src: url("./fonts/sharpiro-regular.woff2") format("woff2"), url("./fonts/sharpiro-regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
