/*----------------------------- BUTTONS GOES BLING -----------------*/
.form-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5em;
}

.btn {
  padding: 1.1875rem 2.5rem;
  border: 2px solid var(--orange-clr);
  border-radius: 40px;
  background: none;
  font-family: "uniform medium";
  letter-spacing: 0.1em;
  color: var(--orange-clr);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  font-size: 0.75rem;
  font-weight: 800;
  cursor: pointer;

  &:hover {
    background-color: var(--orange-clr);
    color: black;
  }
}

.next {
  border: none;
  background-color: transparent;
  position: absolute;
  outline: none;
  right: 10%;
  margin-top: 3em;
  transform: translateY(-50%) rotate(270deg);
  fill: none;
  cursor: pointer;

  &:hover {
    // animation: MoveRight 0.9s ease-out infinite;
  }
}

@keyframes MoveRight {
  0% {
    right: 60px;
  }

  50% {
    right: 32px;
  }
}

.back {
  border: none;
  background-color: transparent;
  position: absolute;
  outline: none;
  left: 10%;
  margin-top: 3em;
  transform: translateY(-50%) rotate(90deg);
  fill: none;
  cursor: pointer;

  &:hover {
    // animation: MoveLeft 0.9s ease-out infinite;
  }
}

@keyframes MoveLeft {
  0% {
    left: 60px;
  }

  50% {
    left: 32px;
  }
}
