/*----------------------------- BUTTONS GOES BLING -----------------*/
.form-btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 1.1875rem 2.5rem;
  border: 2px solid var(--orange-clr);
  border-radius: 40px;
  background: none;
  font-family: "uniform medium";
  letter-spacing: 0.1em;
  color: var(--orange-clr);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  font-size: 0.75rem;
  font-weight: 800;
  margin-top: 30px;
  float: right;

  &:hover {
    background-color: var(--orange-clr);
    color: black;
  }
}
