.options_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--background-clr);
  font-family: "Roboto", sans-serif;
  transition: 0.25s;
  padding: 3em;

  .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;

    min-width: 600px;
    max-width: 1020px;
    width: calc(100% - 100px);

    height: 690px;

    .option {
      position: relative;
      overflow: hidden;
      min-width: 90px;
      margin: 10px;
      background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
      background-size: auto 120%;
      background-position: center;

      cursor: pointer;

      transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

      &.active {
        flex-grow: 10000;
        transform: scale(1);
        max-width: 600px;
        margin: 0px;
        border-radius: 50px;
        background-color: #16152b;
        border: 2px solid var(--orange-clr);
        display: flex;
        justify-content: center;

        .label {
          top: 20px;
          left: 20px;
          align-items: center;
          .info > div {
            left: 0px;
            opacity: 1;
          }

          .number {
            background-color: var(--orange-clr);
            color: white;
            border: none;
            pointer-events: none;
          }
        }
      }
      &:not(.active) {
        flex-grow: 1;
        border-radius: 50px;
        border: 2px solid var(--blue-clr);
        background: none;

        .label {
          top: 17px;
          left: 17px;
          .info > div {
            left: 20px;
            opacity: 0;
          }

          .close {
            display: none;
          }
        }
        .form__element_wrapper {
          display: none;
        }
      }
      .label {
        display: flex;
        position: absolute;
        right: 0px;
        height: 40px;
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;

          margin-left: 10px;

          color: white;

          white-space: pre;
          > div {
            position: relative;

            transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
          }
          .main {
            font-weight: bold;
            font-size: 1.2rem;
          }
          .sub {
            transition-delay: 0.1s;
          }
        }
      }
    }

    .close {
      position: absolute;
      top: 4.8rem;
      right: 7rem;

      svg {
        width: 50px;

        &:hover {
          fill: white;

          .path {
            stroke: black;
            stroke-width: 2px;
          }
        }
      }
    }
  }
}

.step5 {
  .form__element_wrapper {
    .form-btns {
      justify-content: space-between;
      .back,
      .next {
        position: relative;
      }
    }
  }
}
