form h2 {
  color: aliceblue;
  font-family: "shapiro regular";
  letter-spacing: 1px;
}

.form__element {
  padding: 0.75rem 0;
  display: flex;
  flex-direction: column;
  color: aliceblue;

  label {
    font-family: "shapiro bold";
    letter-spacing: 1px;
    color: aliceblue;
  }
}

.form__element_wrapper {
  // position: absolute;
  // bottom: 20px;
  padding: 2em;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: aliceblue;
  min-height: 600px;
  width: 90%;
  cursor: default;
}

.game_types,
.skill__wrap {
  font-size: 1.05em;

  li {
    flex-direction: row;
    align-items: center;
    float: left;
    width: 50%;
    input {
      margin-top: 0;
    }
  }

  label {
    position: relative;
    font-size: 1.05em;
    line-height: 1.7;
    cursor: pointer;
  }
}

.step3 {
  .form__element_wrapper {
    width: 100%;
  }
}
.step6 {
  .form__element_wrapper {
    bottom: 0;
    width: 100%;
  }
}

fieldset.option {
  &:valid {
    .number {
      background-color: cadetblue;
      pointer-events: all;
    }
    .next {
      pointer-events: all;
      opacity: 1;
    }
  }
}
