form h2 {
  color: aliceblue;
  font-family: "shapiro regular";
  letter-spacing: 1px;
}

.form__element {
  padding: 0.75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form__element label {
  font-family: "shapiro bold";
  letter-spacing: 1px;
  color: aliceblue;
}

.form__element_wrapper {
  position: absolute;
  padding: 2em;
}
