form h2 {
  color: aliceblue;
  font-family: "shapiro regular";
  letter-spacing: 1px;
}

.form__element {
  padding: 0.75rem;
  margin: 0 auto;
}

.form__element label {
  display: inline-block;
  width: 8rem;
  font-family: "shapiro regular";
  letter-spacing: 1px;
  color: aliceblue;
}
